* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 100%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.rows {
  margin: 0 -5px;
  display: block;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-back{
  height:80%  !important;
  margin-top: 15px !important;
}
.addbutton{
  margin-left: 70px;
}
.card{
    padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  transition: all .1s ease-out;
   text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
  height: 320px;
  width: 23%;
    position: relative;
    @media only screen and (min-width : 768px) {
      width: 75%;
    }
    @media only screen and (min-width : 992px) {
      width: 100%;
    }
}

/* Responsive columns - one column layout (vertical) on small screens */


/* Medium Devices, Desktops */


    .card-description {
      font-size: 12px;
      display: block;
      overflow: hidden;
      transition: all 100ms ease-out;

    }

    .card-title{
      font-size:18px;
      color:#f39;
    }

    .price {
      color:#48cfad;
      font-size:20px;
      font-weight:500;

      .discounted {
        span:nth-of-type(2) {
          font-size: 15px;
          color: red;
          text-decoration: line-through;
        }
      }
    }


  .card-img-top{
    display: inline-block;
    position: relative;
    :hover {
      span{
        background: #f39;
      }
    }

    a {
      transition: all 100ms cubic-bezier(0.25,0.25,0.84,0.325);

      img {
        float: left;
        height: 150px;
      }
    }

    .discount {
      transition: all 100ms cubic-bezier(0.25,0.25,0.84,0.325);
      padding: 4px 6px 5px 6px;
      position: absolute;
      bottom: 165px;
      left: 277px;
      color: #FFF;
      display: inline;
      text-transform: uppercase;
 
    }
    .back-discount{
      transition: all 100ms cubic-bezier(0.25,0.25,0.84,0.325);
      padding: 4px 6px 5px 6px;
      position: absolute;
      bottom: 131px;
      left: 277px;
      color: #FFF;
      display: inline;
      text-transform: uppercase;
    }
  }
  