.active-cyan-2 .fa {
  color: #4dd0e1;
}
.active-cyan-2 input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type="text"] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

  .active-cyan-4{
    width: 356px;
    margin-left: 342px;
    @media only screen and (min-width : 768px) {
      width: 75%;
    }
    @media only screen and (min-width : 992px) {
      width: 50%;
    }
  }

